/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.intro{
  font-family: Krona One;
  text-align: center;
  /*color: #747D7D;*/
  color: #232D51;
  font-size: 5em;
  margin-top: 1em;
  margin-bottom: 0;
}

.image{
  background-image: url(http://www.slate.com/content/dam/slate/blogs/the_eye/2013/09/130910_EYE_E27All.jpg.CROP.original-original.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.links{
  text-align: center;
  font-size: 1.5em;
}

button{
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  width: 84px;
  color: white;
  font-size: 20px;
  background-color: #232D51;
}
